.CartPage.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.CartPage.header {
  color: white;
}

.CartPage.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: var(--dark);
  height: 83vh;
  margin: 33px;
  color: var(--extra-dark);
  border-radius: 10px;
}

.CartPage.item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 75%;
  overflow-y: auto;
  margin-bottom: 50px;
  background-color: white;
  padding-left: 5px;
  height: 70%;
}

.CartPage.item {
  background-color: var(--extra-light);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}

.CartPage.item-name {
  cursor: pointer;
}

.CartPage.delete-icon {
  height: 30px;
  cursor: pointer;
}

.CartPage.item-photo {
  height: 100px;
  border-radius: 10px;
}

.CartPage.checkout-btn {
  background-color: var(--medium);
  border: none;
  padding: 11px 70px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
