.CheckoutPage.form {
    display: flex;
    flex-direction: column;
    background-color: var(--extra-light);
    padding: 10px;
    margin-bottom: 10px;
}

.CheckoutPage.form-section {
    margin: 10px 0;
    display: flex;
    width: fit-content;
}

.CheckoutPage.form-section-button {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.CheckoutPage.form-item {
    margin: 0 5px;
}

.CheckoutPage.form-submit {
    background-color: var(--medium);
    border: none;
    padding: 11px 30px;
    color: white;
    cursor: pointer;

}

.CheckoutPage.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    background-color: var(--dark);
    padding: 20px;
    margin-top: 20px;
}

.CheckoutPage.page-container {
    display: flex;
    justify-content: center;
}

.CheckoutPage.cart-container {
    overflow-y: auto;
    height: 500px;
    width: 100%;
    background-color: var(--extra-light);
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}