.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  background-color: var(--dark);
  color: var(--extra-light);
  height: 70px;
}

.Navbar.home-logo {
  font-weight: 600;
  cursor: pointer;
}

.Navbar.cart-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
  
.Navbar.cart-icon-container:hover {
  cursor: pointer;
}

.Navbar.dropdown-toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40px;
}

.Navbar.cart-icon {
  height: 20px;
}

.Navbar.search-submit {
  background-color: var(--medium);
  border: none;
  padding: 11px 30px;
  color: white;
  cursor: pointer;
}

.Navbar.search-box {
  background-color: var(--off-white);
  border: none;
  height: 30px;
  padding: 2px 5px;
  margin: 10px;
}
