.Product.product-container {
    width: 220px;
    height: 220px;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--extra-light);
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.Product.product-name {
    font-size: large;
    font-weight: 600;
    border-bottom: 2px solid var(--dark);
    color: var(--medium);
    border-radius: 10px;
    text-align: center;
}

.Product.actual-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: var(--dark);
    margin-top: 30px;
    border-radius: 20px;
    color: var(--off-white);
}

.Product.descriptor {
    font-weight: 900;
    color: #4a4a51;
}